<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HigerTrack</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HigerTrack.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


    <link rel="stylesheet" href="~/css/main.css">

    <!-- Favicon -->
    <link href="~/img/Logo/LogoHigertrack.PNG" rel="icon" />

</head>


<style>

</style>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark mb-3"
            style="background-color: #1c2c67; padding: 1.2rem 1rem; box-shadow: 0 4px 3px -1px rgba(230, 15, 18, 0.6);">
            <div class="container-fluid d-flex justify-content-between align-items-center">

                <!-- Logo dan Teks HigerTrack -->
                <div class="d-flex align-items-center ">
                    <img src="~/img/Logo/LogoHigertrack.PNG" alt="Logo" style="height: 40px; margin-right: 10px;">
                    <a class="navbar-brand text-white fw-bold fs-5" asp-area="" asp-controller="Home"
                        asp-action="Index">HigerTrack</a>
                </div>

                <!-- Link Navigasi Berdasarkan Role -->
                <div class="d-none d-sm-flex align-items-center">
                    <ul class="navbar-nav me-3">
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-controller="Home" asp-action="Admin">Admin</a>
                            </li>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white fw-bold" asp-controller="Home" asp-action="User">Users</a>
                            </li>
                        }
                    </ul>
                </div>

                <!-- Tombol Login / Partial -->
                <div>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container ">
            &copy; 2025 HigerTrack
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


<script>
</script>

</html>