﻿@using HigerTrack.ViewModels;
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<link rel="stylesheet" href="~/css/login.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />


<div class="login-wrapper">
    <div class="login-card">
        <div class="logo-container text-center">
            <img src="~/img/Logo/LogoHigertrack.PNG" alt="Logo" class="logo-img" />
            <h2 class="login-title">Change Password</h2>
        </div>

        <form asp-action="ChangePassword" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>

            <input asp-for="Email" class="form-control form-input" readonly />
            <span asp-validation-for="Email" class="text-danger"></span>

            <input asp-for="NewPassword" type="password" class="form-control form-input mt-3"
                placeholder="New Password" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>

            <input asp-for="ConfirmNewPassword" type="password" class="form-control form-input mt-3"
                placeholder="Confirm New Password" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>

            <input type="submit" value="Submit" class="btn btn-login w-100 mt-4" />

            <p class="text-center mt-3">
                <a asp-controller="Account" asp-action="VerifyEmail" class="link-blue">Back</a>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml")
}
