## ASP.NET Core ##
# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# IDE directories
.idea/
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Node.js modules
node_modules/

# ASP.NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Tye (https://github.com/dotnet/tye)
.tye/

# Azure Functions
local.settings.json

# .NET Core build output
bin/
obj/

# Cache directories
.cache/
cache/

# VS for Mac
.vscode/

# .NET Core / ASP.NET Core specific ignores
*.vspscc
.vs2019/
.vs2017/
.vs/

# Logs
*.log

/wwwroot/uploads/

# Ignore appsettings files
appsettings.json
appsettings.Development.json

